/*##### HEADER ########*/

.page-header {
  border: 0;
  margin: 0;
  padding: 0;
  height: 53px;
  min-width: 320px;
  background: beige;
  border-bottom: 3px solid rgb(81, 81, 114);
}

.navbar.navbar-default {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 998;
}

.navbar {
  background-color: rgb(255, 255, 255);
  height: 53px;
  border: 0;
  border-bottom: 1px solid #dbe1e8;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-profiles {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
  margin-right: 4rem;
}

.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav {
  margin-right: 2rem;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-profiles-item-wrap {
  display: flex;
  width: 100%;
}

.navbar-profiles-item, .navbar-profiles .profile-thumbnail {
  margin-right: 5px;
  cursor: pointer;
}

figure {
  margin: 0;
}

figure {
  margin: 1em 40px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.profile-thumbnail-avatar.small {
  width: 29px;
  height: 29px;
}
.profile-thumbnail-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin: auto;
  border-radius: 50%;
  position: relative; 
}
.small, small {
  font-size: 85%;
}

.profile-thumbnail-avatar.small>img {
  width: 29px;
  height: 29px;
}
.profile-thumbnail-avatar>img {
  width: 64px;
  height: 64px;
  border: 1px solid #d2d0d0;
  border-radius: 50%;
}
img {
  vertical-align: middle;
  border: 0;
}
.img_profile {
  border-radius: 50%;
}


//////  ORGANIZAÇÃo



//Header
.page-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container_profile {
  margin-left: 1rem;
}
.username_details {
  margin-left: 1rem;
}
.username {
  font-size: 28px;
}
.generic_details {
  margin-top: 12px;
  font-size: 18px;
}


//Tabela

.schedules {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 12px;
  margin-left: 2.7rem;
}
.content_table_newPost {
  align-items: center;
}
.table_elements {
  margin-left: 4rem;
}
.table_info {
  width: 100%;
  margin-left: 12px;
  margin-bottom: 12px;
}
.mat-header-cell {
  background-color: rgb(81, 81, 114);
  align-items: center;
  font-size: 18px;
}
.mat-row{
  background-color: rgb(92, 92, 131);
  font-size: 18px;
}


// Posts

.section_agenda {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.container {
  display: flex;
  align-items: center;
  margin-right: 44px;
}
.center {
  margin-top: 2rem;
  border: 2px solid rgb(81, 81, 114);
  padding: 14px;
  border-radius: 12px;
}
.newPost {
  margin-top: 2rem;
  width: 330px;
  height: 150px;
  margin: 0 auto;
}
.newPost_files {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.legenda {
  margin-left: 41%;
  padding: 3px;
  text-align: center;
  border-radius: 12px;
  border: none;
}
.agendar {
  margin-top: 1rem;
  margin-left: 33%;
}
.image {
  margin-bottom: 1rem;
  color: black;
  font-weight: 700;
}
.button_files {
  background-color: rgb(92, 92, 131);
  color: #dbe1e8;
  padding: 12px;
  border-radius: 12px;
  border: none;
}
.button_files:hover {
  background-color: rgb(81, 81, 114) ;
}
.button_agenda {
  background-color: #dbe1e8;
  color: rgb(92, 92, 131);
  padding: 12px;
  border-radius: 12px;
  border: 1px solid black;
}
.button_agenda:hover {
  background-color: rgb(81, 81, 114) ;
  color: #dbe1e8;
  transition: 0.5s;
}

